<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.anil.com.checkinginternetconnection.test" >

    <uses-sdk
        android:minSdkVersion="20"
        android:targetSdkVersion="29" />

    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:functionalTest="false"
        android:handleProfiling="false"
        android:label="Tests for android.anil.com.checkinginternetconnection"
        android:targetPackage="android.anil.com.checkinginternetconnection" />

    <application android:debuggable="true" >
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>